.img-fluid {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  align-self: center;
}

.img-container {
  height: 200px;
  display: flex;
}

.list-style-none {
  list-style: none;
  padding-left: 0px;
}
