.App {
  font-family: Helvetica, sans-serif;
  margin: 0 auto;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  grid-gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
}

#logo {
  width: 24rem;
  height: auto;
  display: block;
  margin: 3rem auto;
}

.card {
  border: 1px solid #ccc;
  border-radius: 1rem;
  width: 12rem;
  padding: 1rem;
  text-align: center;
}

.card:hover {
  border: 1px solid #888;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  align-self: center;
}

.img-container {
  height: 200px;
  display: flex;
}

.list-style-none {
  list-style: none;
  padding-left: 0px;
}

.type-container {
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin: 0 auto;
}

.type {
  border: 1px solid #888;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  color: #ffffff;
}

.Grass {
  background-color: #78c850;
}

.Poison {
  background-color: #a040a0;
}

.Fire {
  background-color: #f08030;
}

.Water {
  background-color: #6890f0;
}

.Bug {
  background-color: #a8b820;
}

.Flying {
  background-color: #a890f0;
}

.Normal {
  background-color: #a8a878;
}

.Electric {
  background-color: #f8d030;
}

.Ground {
  background-color: #e0c068;
}

.Fairy {
  background-color: #ee99ac;
}
